/* _lcid="1033"
    _LocalBinding */
html,body
{
	height:100%;
}
.visible
{
	visibility:visible;
}
.hidden
{
	visibility:hidden;
}
.display-none
{
	display:none !important;
}
.display-block
{
	display:block;
}
.none-wordbreak
{
	word-break:normal;
}
.TmtTree
{
	margin:0px;
	height:100%;
	padding-left:0px;
    overflow-y:auto;
	color:black;
}
.TmtTree ul
{
	margin-left:15px;
	padding:0px;
}
.TmtTree li
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.TmtTree .treenodediv
{
	white-space:nowrap;
	width: 200px;
}
.TmtTree img
{
	margin:2px 0px 2px 4px;
	vertical-align:middle;
}
.TmtTree .ti
{
	vertical-align:middle;
	width:15px;
	height:20px;
	padding:0px 0px 0px 0px;
}
.TmtTree .dai 
{
	background-color:Transparent;
	margin:0px !important;
	border:solid 0px transparent;
	visibility:hidden;
}
.TmtTree .tnn
{
	border:0px;
	padding:1px;
	margin:0px 0px 0px 4px;
	display:inline-block;
}
.TmtTree span
{
	border:0px solid Transparent;
	padding:0px solid Transparent;
	font-size:8pt;
}
.TmtTree .treenodeonfocus
{
	background-image:url("/_layouts/15/images/menubuttonhover.gif?rev=47");
	background-repeat:repeat-x;
	border:1px solid #FF9933;
	margin:0px 0px 0px 4px;
	display:inline-block;
}
.TmtTree .treenodeonfocus input
{
	border:0px solid Transparent;
	padding:1px solid Transparent;
	background-color:Transparent;
}
.TmtTree .treenodehover
{
	background-color:#ffffff;
	border:1px solid #FF9933;
	margin:0px 0px 0px 4px;
	display:inline-block;
}
.TmtTree .pager
{
	padding-left: 20px;
	padding-top: 0px;
}
.TmtTree .ms-pagetitle
{
	font-size:8pt;
	margin:auto;
}
.tmt-redwarning
{
	padding:10px;
	color:red;
	border:2px solid Red;
	margin:50px 10px 10px 10px;
	text-align:center;
}
.tmt-error
{
    color:red;
    display:block
}
.CursorStylePointer
{
	cursor:pointer;
}
.highlight
{
	background-color:#000fff;
}
h3.TsmTitle {
	border-top:1px solid #F2F8FF;
    border-left:1px solid #F2F8FF;
    text-align:left;
	vertical-align:top;
	margin:0px;
	padding:2px 0px 0px 0px;
	width:100%;
	box-sizing:border-box;
}
.SearchArea
{
	height:50px;
	border-bottom: 1px solid #6F9DD9;
    vertical-align:top;
}
.TermStoreTreeHeader
{
	border-top: 1px solid #6F9DD9;
	height: 7px;
}
.TermStoreTreeArea
{
	margin-top:7px;
    vertical-align:top;
    height: 100%;
}
.TreeContainer
{
	width:295px;
	height:528px;
	overflow:auto;
}
.MetadataTreeControlTree
{
	height:100%;
	overflow:auto;
}
.ResizerImage
{
    vertical-align:middle;
}
.test
{
	position:relative;
	overflow:visible;
}
.container
{
	width: 90%;
	margin: 7px auto;
	background-color: #fff;
	color: #333;
	border: 1px solid gray;
}
.TmtContentTable
{
	width:99%;
	height:100%;
	margin:0px;
    border-collapse:collapse;
}
.leftarea
{
	width:250px;
    vertical-align:top;
    padding:0px !important;
    margin:0px !important;
	border: 1px solid #6F9DD9;
}
.rightarea
{
	border: 1px solid #6F9DD9;
    vertical-align:top;
}
.middlearea
{
	width:5px;
    vertical-align:middle;
    cursor:e-resize;
}
.ShadowResizer
{
	width:5px;
	background-color:#6F9DD9;
	position:absolute;
}
.tmt-name
{
	padding:15px 20px 0px 20px;
	color:#808000;
	font-weight:bold;
	display:block;
}
.tmt-pt
{
	border:0px;
	margin-bottom:0px;
	padding:0px 20px 0px 20px;
	width:auto;
}
* html .tmt-pt
{
	width:100%;
}
.TmtPropertyName
{
	vertical-align:top;
	padding-bottom:4px;
	display:block;
}
.tmt-ps
{
	display:block;
	clear:both;
	font-size:10pt; 
	padding-bottom:0px;
	padding-top:20px;
	position:static;
	width:800px;
}
.tmt-ps .section li
{
	display:inline-block;
	margin-top:5px;
}
.tmt-ps .section h4
{
	margin-top:3px;
}
.tmt-ps .section input
{
	float: left;
}
.tmt-ps .section .title-n-desc
{
	float:left;
	padding-right:10px;
	width:80%;
}
.tmt-ps .twocol-l
{
	float:left;
	padding-right:10px;
	width:40%;
}
.tmt-ps .twocol-r
{
	float:left;
	padding-left:10px;
	width:40%;
}
.tmt-ps .twocol-l-nofloat
{
    padding-right: 10px;
    width:40%;
}
.tmt-ps .twocol-r-nofloat
{
    padding-left: 10px;
    width:40%;
}
.tmt-ps .threecol-l
{
	float:left;
	width:33%;
}
.tmt-ps .threecol-m
{
	float:left;
	padding:0px 10px 0px 10px;
}
.tmt-ps .threecol-r
{
	float:left;
	width:33%;
}
.tmt-ps .tmt-ctrl
{
	width:100%;
}
.tmt-ps .tmt-ctrl-fixwidth
{
	width:300px;
}
.tmt-ps .scroll
{
	height:120px;
	border: 1px solid Gray;
	overflow:auto;
}
.tmt-ps .tmt-scrollable-table
{
	max-height: 157px;
	height: 157px;
	overflow: auto;
	border: 1px solid Gray;
	padding-top: 1px;
	padding-bottom: 1px;
}
.tmt-ps .tmt-scrollable-table > .tmt-table
{
	width: auto;
}
.tmt-ps .tmt-scrollable-table > .tmt-table tr
{
	height: 18px;
}
.tmt-ps .tmt-scrollable-table > .tmt-table td
{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
}
.tmt-ps .tmt-scrollable-table > .tmt-table td.tmt-icon
{
	padding: 1px;
}
.tmt-ps .tmt-term-lbl
{
	padding: 0px;
	margin: 0px 0px 2px 0px;
	list-style: none;
	list-style-position: none;
}
.tmt-ps .tmt-term-lbl li
{
	border: 0px;
}
.tmt-ps .tmt-term-lbl input
{
	width: 100%;
}
.tmt-ps .tmt-rp-btn-width
{
	width: 160px;
}
.tmt-ps li
{
    list-style-type: none;
}
.tmt-tab
{
	padding: 0px 4px 0px 4px;
	border: solid 1px #ebf3ff;
	text-align: center;
}
.tmt-tab-selected
{
	background-color: #ebf3ff;
	border-top: 1px solid #6F9DD9;
	border-left: 1px solid #6F9DD9;
	border-right: 1px solid #6F9DD9;
	border-bottom: 1px solid #ebf3ff;
}
.tmt-tab-hover
{
	background-image:url("/_layouts/15/images/menubuttonhover.gif?rev=47");
	background-repeat:repeat-x;
	border:1px solid #FF9933;
	cursor:pointer;
}
.tmt-sorttable
{
	margin-top: 40px;
	width: 80%;
	text-align: center;
	BORDER-COLLAPSE: collapse;
}
.tmt-sort-radiobutton
{
	margin-top: 20px;
	margin-left: 40px;
}
.tmt-systemgroup
{
	border-top:  #6f9dd9 1px dashed;
	margin-top: 10px;
	margin-right: 15px;
	padding-top: 5px;
}
.font-gray
{
	color: Gray;
}
.font-black
{
	color: Black;
}
.tmt-table
{
	border-collapse:collapse;
	border-spacing:0px;
	border:0px;
	margin:0px;
	width:100%;
	text-align:center !important;
}
.tmt-sb
{
	border:0px;
	margin:0px;
	padding:0px 20px 15px 20px;
	width:800px;
	text-align:right;
	clear: both;
}
.tmt-table
{
	border-collapse: collapse;
	width: 100%;
	padding-left: 7px;
}
.tmt-tr
{
	padding-left: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.tmt-description
{
	vertical-align: top;
	padding-bottom: 5px;
}
.tmt-displang {
	width:100%;
}
.tmt-nav-disabled {
	background-color: #f3f3f3 !important;
}
.ms-core-menu-icon img {
    border: none;
    -webkit-tap-highlight-color: transparent;
}
